<div class="navbar navbar-expand-sm navbar-light bg-light m-2">
    <div class="col">
        <button [routerLink]="['home']" class="btn btn-outline-success" type="button">PUESTOS TRABAJO IGE</button>
    </div>
    <div class="col">
        <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
    </div>
    <div class="col">
        <button [routerLink]="['buscador']" class="btn btn-outline-success" type="button">PUESTOS TRABAJO IGE</button>
    </div>
    <div class="col">
        <button [routerLink]="['home']" class="btn btn-outline-success" type="button">PUESTOS TRABAJO IGE</button>
    </div>
    <div class="col">
        <button [routerLink]="['home']" class="btn btn-outline-success" type="button">PUESTOS TRABAJO IGE</button>
    </div>
    <div class="col">
        <button [routerLink]="['home']" class="btn btn-outline-success" type="button">PUESTOS TRABAJO IGE</button>
    </div>
    <div class="col">
        <button [routerLink]="['home']" class="btn btn-outline-success" type="button">PUESTOS TRABAJO IGE</button>
    </div>
</div>

<!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
        </div>
        <div class="carousel-item">
            <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
        </div>
        <div class="carousel-item">
            <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
        </div>
        <div class="carousel-item active">
            <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
        </div>
        <div class="carousel-item active">
            <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
        </div>
        <div class="carousel-item active">
            <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
        </div>
    </div>
</div> -->

<!-- <div class="navbar navbar-expand-sm navbar-light bg-light m-2">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
            </div>
            <div class="carousel-item">
                <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
            </div>
            <div class="carousel-item">
                <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
            </div>
            <div class="carousel-item active">
                <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
            </div>
            <div class="carousel-item active">
                <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
            </div>
            <div class="carousel-item active">
                <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
            </div>
        </div>
    </div>
</div> -->