<!-- <div class="navbar navbar-expand-sm navbar-light bg-light m-2">
    <div class="col">
        <button [routerLink]="['materiales']" class="btn btn-outline-success" type="button">PUESTOS TRABAJO IGE</button>
    </div>
    <div class="col">
        <button [routerLink]="['materiales']" class="btn btn-outline-success justify-content" type="button">PUESTOS TRABAJO IGE</button>
    </div>
    <div class="col">
        <button [routerLink]="['materiales']" class="btn btn-outline-success" type="button">PUESTOS TRABAJO IGE</button>
    </div>
</div> -->

<div class="dropdown navbar-expand-sm navbar-light bg-light m-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Filter
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

        <li><a class="dropdown-item" [routerLink]="['materiales']">Juntas</a></li>
        <li><a class="dropdown-item" [routerLink]="['materiales']">Juntas</a></li>
        <li><a class="dropdown-item" [routerLink]="['materiales']">Juntas</a></li>
        <li><a class="dropdown-item" [routerLink]="['materiales']">Juntas</a></li>
        <li><a class="dropdown-item" [routerLink]="['materiales']">Juntas</a></li>
    </ul>
</div>

<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav> -->