<div [routerLink]="['materiales']" class="navbar navbar-expand-sm navbar-light bg-light">
    <img [routerLink]="['materiales']" class="m-2" src="assets/img/carburos-logo.png" alt="" width="120" height="36">
    <input class="form-control ml-auto me-2" type="search" placeholder="Buscar en catálogo digital ..." (keyup)="buscarMaterial(buscarTexto.value)" aria-label="Search" #buscarTexto>
</div>

<!-- <div class="row">
        <div class="col-2 m-2">
            <button [routerLink]="['home']" class="btn btn-outline-success" type="button">Home</button>
        </div>
        <div class="col-2 m-2">
            <button [routerLink]="['materiales']" class="btn btn-outline-success" type="button">Materiales</button>
        </div>
        <div class="col-2 m-2">
            <button [routerLink]="['buscador']" class="btn btn-outline-success" type="button">Buscador</button>
        </div>
    </div> -->